.container
	.row
		.col-xs-12.col-sm-12
			h3(style="color: #7A7876;") Ajouter un article
			form.addArticle-form(name='articleForm', novalidate ) 
				h4(style="color: #7A7876;") Titre de l'articlie
				.row
					.col-lg-6
						input.form-control(type="text",placeholder="Titre", ng-model="article.title",required)
				h4(style="color: #7A7876;") Ajouter une photo principale
				.row
					.col-lg-6
						.input-group
							input.form-control(type="url",placeholder="Url de l'image",id="featuredUrl", ng-model="article.featured",required)
							span.input-group-btn
								button.btn.btn-default(type="button",  add-preview-image) Go! 
								//ng-click="loadFeaturedImage()"
				br
				h4(style="color: #7A7876;") Contenu de l'article
				textarea(ck-editor,ng-model="articleHtml", name="editor1", required )
				br
				input.pull-right.btn.btn-success(type="submit",ng-click='submit()', value="Ajouter", ng-disabled="form.$invalid") 
			.clearfix
			form(ng-submit="submit()",ng-controller="AdminCtrl") Enter text and hit enter:
				input(type="text", ng-model="text", name="text")
				input(type="submit", id="submit", value="Submit")
				pre list={{list}}

		