.container
	.row
		.col-xs-12.col-sm-12
			h3(style="color: #7A7876;") Ajouter un article
			form(ng-submit='submit()')
				textarea(ck-editor,ng-model="articleHtml", name="editor1")
				br
				input.pull-right.btn.btn-success(type="submit") Ajouter
			.clearfix
			form(ng-submit="submit()",ng-controller="AdminCtrl") Enter text and hit enter:
				input(type="text", ng-model="text", name="text")
				input(type="submit", id="submit", value="Submit")
				pre list={{list}}

		