.container
	.row
		.col-12.col-sm-7.col-lg-7.box
			h2 Node Starter
			p Welcome to {{title}}
			input(type='text', ng-change='changeText()', ng-model='steack',style='margin-bottom:20px;')
		.col-12.col-sm-4.col-sm-offset-1.col-lg-4.col-offset-1.box
			span(edit-tweet)
			h4 Let's people talk
			hr.fine
			blockquote.pull-right
				p I don't give a shit about your Website
				small A fucking bastard
				