extends layoutAdmin
block content
  title= title
  div(ng-view)
  script(src='/admin/adminApp.js')
  script(src='/admin/controllers.js')
  script(src='/javascripts/angular-strap.min.js')
  script(src='/admin/directives.js')
  script(src='/admin/services.js')
  script(src='/javascripts/bootstrap.js')
  script(src='/javascripts/bootstrap-notify.js')
  script(src='/javascripts/ui-bootstrap-0.5.0.min.js')
  script(src='javascripts/ui-bootstrap-tpls-0.5.0.min.js')
  script(src='/javascripts/ckeditor/ckeditor.js')