extends layout
block content
  title= title
  div(ng-view)
	script(src='/javascripts/papa.js')
  script(src='/javascripts/app.js')
  script(src='/javascripts/controllers.js')
  script(src='/javascripts/angular-strap.min.js')
  script(src='/javascripts/bootstrap.js')