doctype 5
html(ng-app)
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		script(src='http://code.jquery.com/jquery-2.0.3.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
		script(src='/javascripts/bootstrap.js')
	body
		.navbar.navbar-fixed-top
			.container(style='width:auto;')
				ul.nav.navbar-nav
					li.active
						a(href='#') Home
					li
						a(href='#') Link
		block content