doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-notify.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-glyphicons.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-2.0.3.min.js'))
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js')
    //script(src='/javascripts/angular-route.js')

  body(ng-app='nodestarter')
    .navbar.navbar-default.navbar-fixed-top(bs-navbar)
      .container
        .navbar-header(ng-controller="LayoutController")
          button.navbar-toggle(type='button',data-toggle='collapse',data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          button.navbar-switch.visible-xs.btn.btn-primary(data-toggle='offcanvas', ng-click='toggleSidebar()') Switch
          a.navbar-brand(href="#") FrenchTastic
        .navbar-collapse.collapse.bs-navbar-collapse(style='height: auto;')
          ul.nav.navbar-nav 
            li.active(data-match-route='/')
              a(href='#') Home
            li(data-match-route='/otherPage')
              a(href='#/otherPage') Link
          form.navbar-form.navbar-right
            .form-group
              input.form-control.col-lg-8(ng-model='search.title' ,type='text', placeholder='Search', style='margin-left:10px')
          if !user
            ul.nav.navbar-nav.navbar-right Sign In : 
              a.btn.btn-success.navbar-btn(type='button', data-toggle='modal', href='#myModal', style='margin-right:4px;') Modal GO
              a.btn.btn-success.navbar-btn(data-toggle='modal', href='/auth/google', style='margin-right:4px;') Google

            //.pull-right(style='width:280px;height:42px;border-radius:5px;margin-top:4px;border:2px dashed #932927;background-color:#D43F3A;')

            // a.pull-right.btn.btn-primary.navbar-btn(data-toggle='modal', href='#myModal') Modal GO
            // a.pull-right.btn.btn-danger.navbar-btn(href='/auth/google') Sign In
          else
            ul.nav.navbar-nav.pull-right
              li
                a(href='#') Bonjour, #{user.displayName }
    block content