doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-notify.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-glyphicons.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-2.0.3.min.js'))
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js')
    //script(src='/javascripts/angular-route.js')

  body(ng-app='nodestarter')
    .navbar.navbar-default.navbar-fixed-top(bs-navbar, ng-controller="LayoutController")
      .container
        .navbar-header
          button.navbar-toggle(type='button',data-toggle='collapse',data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          button.navbar-switch.visible-xs.btn.btn-primary(data-toggle='offcanvas', ng-click='toggleSidebar()') Switch
          a.navbar-brand(href="#") FrenchTastic
        .navbar-collapse.collapse.bs-navbar-collapse(style='height: auto;')
          ul.nav.navbar-nav 
            li.active(data-match-route='/')
              a(href='#') Home
            li(data-match-route='/otherPage')
              a(href='#') Link
          form.navbar-form.navbar-right
            .form-group
              input.form-control.col-lg-8(ng-model='search.title' ,type='text', placeholder='Search', style='margin-left:10px')
          if !user
            .pull-right(style='width:280px;height:42px;border-radius:5px;margin-top:4px;border:2px dashed #932927;background-color:#D43F3A;')
              div(style='font-size:16px;margin-top:11px;margin-left:4px;color:white;float:left;') Sign In :
              a.pull-right.btn.btn-success(data-toggle='modal', href='#myModal', style='margin-right:4px;') Modal GO
              a.pull-right.btn.btn-success(data-toggle='modal', href='/auth/google', style='margin-right:4px;') Google
            // a.pull-right.btn.btn-primary.navbar-btn(data-toggle='modal', href='#myModal') Modal GO
            // a.pull-right.btn.btn-danger.navbar-btn(href='/auth/google') Sign In
          else
            ul.nav.navbar-nav.pull-right
              li
                a(href='#') Bonjour, #{user.displayName }
    
    block content